<?xml version="1.0" encoding="UTF-8"?>
<app>
  <name>Сервис для сайта лицей 369</name>
  <services> 
    <service name="teachers" type="online" method="get" outputformat="json" auth="none"/>
    <service name="group_employees" type="online" method="get" outputformat="json" auth="none"/>
    <service name="files_stream" type="online" method="get" outputformat="xml" auth="none"/>
  </services>
</app>